<article id="typography">
	<h2>Typograpy</h2>
	<section>
		<div class="example-label">Heading</div>
		<div class="example-typography-row">
			<h1>h1. Bootstrap heading</h1>
			<mat-divider></mat-divider>
			<h2>h2. Bootstrap heading</h2>
			<mat-divider></mat-divider>
			<h3>h3. Bootstrap heading</h3>
			<mat-divider></mat-divider>
			<h4>h4. Bootstrap heading</h4>
			<mat-divider></mat-divider>
			<h5>h5. Bootstrap heading</h5>
			<mat-divider></mat-divider>
			<h6>h6. Bootstrap heading</h6>
		</div>
	</section>
	<mat-divider></mat-divider>
	<section>
		<div class="example-label">Customizing headings</div>
		<div class="example-typography-row">
			<h3>
				Fancy display heading
				<small class="text-muted">With faded secondary text</small>
			</h3>
		</div>
	</section>
	<section>
		<div class="example-label">Inline text elements</div>
		<div class="example-typography-row">
			<p>You can use the mark tag to <mark>highlight</mark> text.</p>
			<p>
				<del>This line of text is meant to be treated as deleted text.</del>
			</p>
			<p>
				<s>This line of text is meant to be treated as no longer accurate.</s>
			</p>
			<p>
				<ins
					>This line of text is meant to be treated as an addition to the
					document.</ins
				>
			</p>
			<p><u>This line of text will render as underlined.</u></p>
			<p>
				<small>This line of text is meant to be treated as fine print.</small>
			</p>
			<p><strong>This line rendered as bold text.</strong></p>
			<p><em>This line rendered as italicized text.</em></p>
		</div>
	</section>
	<section>
		<div class="example-label">Abbreviations</div>
		<div class="example-typography-row">
			<p><abbr title="attribute">attr</abbr></p>
			<p>
				<abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
			</p>
		</div>
	</section>
</article>
<article id="mat-buttons">
	<h2>Buttons</h2>
	<section>
		<div class="example-label">Basic</div>
		<div class="example-button-row">
			<button mat-button>Basic</button>
			<button mat-button color="primary">Primary</button>
			<button mat-button color="accent">Accent</button>
			<button mat-button color="warn">Warn</button>
			<button mat-button disabled>Disabled</button>
			<a mat-button href="https://www.google.com/" target="_blank">Link</a>
		</div>
	</section>
	<mat-divider></mat-divider>
	<section>
		<div class="example-label">Raised</div>
		<div class="example-button-row">
			<button mat-raised-button>Basic</button>
			<button mat-raised-button color="primary">Primary</button>
			<button mat-raised-button color="accent">Accent</button>
			<button mat-raised-button color="warn">Warn</button>
			<button mat-raised-button disabled>Disabled</button>
			<a mat-raised-button href="https://www.google.com/" target="_blank"
				>Link</a
			>
		</div>
	</section>
	<mat-divider></mat-divider>
	<section>
		<div class="example-label">Stroked</div>
		<div class="example-button-row">
			<button mat-stroked-button>Basic</button>
			<button mat-stroked-button color="primary">Primary</button>
			<button mat-stroked-button color="accent">Accent</button>
			<button mat-stroked-button color="warn">Warn</button>
			<button mat-stroked-button disabled>Disabled</button>
			<a mat-stroked-button href="https://www.google.com/" target="_blank"
				>Link</a
			>
		</div>
	</section>
	<mat-divider></mat-divider>
	<section>
		<div class="example-label">Flat</div>
		<div class="example-button-row">
			<button mat-flat-button>Basic</button>
			<button mat-flat-button color="primary">Primary</button>
			<button mat-flat-button color="accent">Accent</button>
			<button mat-flat-button color="warn">Warn</button>
			<button mat-flat-button disabled>Disabled</button>
			<a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
		</div>
	</section>
	<mat-divider></mat-divider>
	<section>
		<div class="example-label">Icon</div>
		<div class="example-button-row">
			<button
				mat-icon-button
				aria-label="Example icon button with a vertical three dot icon"
			>
				<i class="fas fa-magnifying-glass"></i>
			</button>
			<button
				mat-icon-button
				color="primary"
				aria-label="Example icon button with a home icon"
			>
				<i class="fas fa-house"></i>
			</button>
			<button
				mat-icon-button
				color="accent"
				aria-label="Example icon button with a menu icon"
			>
				<i class="fas fa-ellipsis-vertical"></i>
			</button>
			<button
				mat-icon-button
				color="warn"
				aria-label="Example icon button with a heart icon"
			>
				<i class="fas fa-pen-to-square"></i>
			</button>
			<button
				mat-icon-button
				disabled
				aria-label="Example icon button with a open in new tab icon"
			>
				<i class="fas fa-cart-minus"></i>
			</button>
		</div>
	</section>
	<mat-divider></mat-divider>
	<section>
		<div class="example-label">FAB</div>
		<div class="example-button-row">
			<button
				mat-fab
				color="primary"
				aria-label="Example icon button with a delete icon"
			>
				<i class="fa-duotone fa-mug-hot"></i>
			</button>
			<button
				mat-fab
				color="accent"
				aria-label="Example icon button with a bookmark icon"
			>
				<i class="fa-duotone fa-hashtag"></i>
			</button>
			<button
				mat-fab
				color="warn"
				aria-label="Example icon button with a home icon"
			>
				<i class="fa-duotone fa-users"></i>
			</button>
			<button
				mat-fab
				disabled
				aria-label="Example icon button with a heart icon"
			>
				<i class="fa-duotone fa-brackets-curly"></i>
			</button>
		</div>
	</section>
	<mat-divider></mat-divider>
	<section>
		<div class="example-label">Mini FAB</div>
		<div class="example-button-row">
			<button
				mat-mini-fab
				color="primary"
				aria-label="Example icon button with a menu icon"
			>
				<i class="fa-duotone fa-mug-hot"></i>
			</button>
			<button
				mat-mini-fab
				color="accent"
				aria-label="Example icon button with a plus one icon"
			>
				<i class="fa-duotone fa-house"></i>
			</button>
			<button
				mat-mini-fab
				color="warn"
				aria-label="Example icon button with a filter list icon"
			>
				<i class="fa-duotone fa-house"></i>
			</button>
			<button
				mat-mini-fab
				disabled
				aria-label="Example icon button with a home icon"
			>
				<i class="fa-duotone fa-hippo"></i>
			</button>
		</div>
	</section>
</article>
<article id="form">
	<h2>Typograpy</h2>
	<section>
		<div class="example-form-row">
			<mat-form-field class="example-full-width">
				<mat-label>Favorite food</mat-label>
				<input matInput placeholder="Ex. Pizza" value="Sushi" />
			</mat-form-field>
		</div>
		<div class="example-form-row">
			<mat-form-field class="example-full-width">
				<mat-label>Leave a comment</mat-label>
				<textarea matInput placeholder="Ex. It makes me feel..."></textarea>
			</mat-form-field>
		</div>
		<div class="example-form-row">
			<mat-form-field>
				<mat-label>Favorite food</mat-label>
				<mat-select>
					<mat-option *ngFor="let food of foods" [value]="food.value">
						{{ food.viewValue }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</section>
	<section>
		<div class="example-form-row">
			<mat-form-field class="example-full-width" appearance="outline">
				<mat-label>Favorite food</mat-label>
				<input matInput placeholder="Ex. Pizza" value="Sushi" />
			</mat-form-field>
		</div>
		<div class="example-form-row">
			<mat-form-field class="example-full-width" appearance="outline">
				<mat-label>Leave a comment</mat-label>
				<textarea matInput placeholder="Ex. It makes me feel..."></textarea>
			</mat-form-field>
		</div>
		<div class="example-form-row">
			<mat-form-field appearance="outline">
				<mat-label>Favorite food</mat-label>
				<mat-select>
					<mat-option *ngFor="let food of foods" [value]="food.value">
						{{ food.viewValue }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</section>
	<section>
		<div>
			<h4>Select your toppings:</h4>
			<p><mat-checkbox>Pepperoni</mat-checkbox></p>
			<p><mat-checkbox>Extra Cheese</mat-checkbox></p>
			<p><mat-checkbox>Mushroom</mat-checkbox></p>
		</div>
	</section>
	<mat-divider></mat-divider>
</article>
