@import '../../../assets/scss/mixins';

:host {
	svg {
		width: 10px;
		height: 10px;

		& > * {
			fill: var(--eon-title-bar-color);
		}
	}
}

@include theme-platform-mode(darwin) {
	:host {
		display: flex;
		flex-direction: row-reverse;

		window-button {
			margin-left: 6px;

			& > * {
				display: none;
			}

			&:last-child {
				margin-left: 0;
			}

			// &.minimize {
			//     background: $orange-300;
			//     border: 1px solid $orange-400;

			//     &:hover {
			//         background: $orange-500;
			//         border: 1px solid $orange-600;
			//     }
			// }

			// &.toogleMaximize {
			//     background: $green-400;
			//     border: 1px solid $green-500;

			//     &:hover {
			//         background: $green-500;
			//         border: 1px solid $green-600;
			//     }
			// }

			&.close {
				background: #e53935;
				border: 1px solid #d32f2f;

				&:hover {
					background: #d32f2f;
					border: 1px solid #c62828;
				}
			}
		}
	}
}

// @include theme-color-mode(light) {
// 	:host {
// 		.disabled {
// 			color: $gray-600 !important;
// 		}
// 	}
// }

// @include theme-color-mode(dark) {
// 	:host {
// 		.disabled {
// 			color: $gray-700 !important;
// 		}
// 	}
// }
