@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../../../assets/scss/partials/variables';
@import '../../../assets/scss/partials/mixins/index';

:host {
	svg {
		width: 10px;
		height: 10px;

		& > * {
			fill: var(--bs-body-color);
		}
	}
}

@include theme-platform-mode(win32) {
	:host {
		window-button {
			&.close {
				&:hover {
					background: var(#{to-rgb($red-600)}, 0.9);
				}
			}
		}
	}
}

@include theme-platform-mode(darwin) {
	:host {
		display: flex;
		flex-direction: row-reverse;

		window-button {
			margin-left: 6px;

			& > * {
				display: none;
			}

			&:last-child {
				margin-left: 0;
			}

			&.minimize {
				background: $orange-300;
				border: 1px solid $orange-400;

				&:hover {
					background: $orange-500;
					border: 1px solid $orange-600;
				}
			}

			&.toogleMaximize {
				background: $green-400;
				border: 1px solid $green-500;

				&:hover {
					background: $green-500;
					border: 1px solid $green-600;
				}
			}

			&.close {
				background: $red-400;
				border: 1px solid $red-500;

				&:hover {
					background: $red-500;
					border: 1px solid $red-600;
				}
			}
		}
	}
}

@include theme-color-mode(light) {
	:host {
		.disabled {
			color: $gray-600 !important;
		}
	}
}

@include theme-color-mode(dark) {
	:host {
		.disabled {
			color: $gray-700 !important;
		}
	}
}
