@import '../../../assets/scss/mixins';

:host {
	svg {
		width: 10px;
		height: 10px;

		& > * {
			fill: var(--eon-title-bar-color);
		}
	}
}

@include platform-mode(darwin) {
	:host {
		display: flex;
		flex-direction: row-reverse;

		window-button {
			margin-left: 6px;
			box-sizing: border-box;

			& > * {
				display: none;
			}

			&:last-child {
				margin-left: 0;
			}

			&.minimize {
				background: var(--eon-title-bar-mac-os-minimize-bg);

				&:hover {
					background: var(--eon-title-bar-mac-os-minimize-hover-dot-color);
					border: 3.5px solid var(--eon-title-bar-mac-os-minimize-bg);
				}
			}

			&.toogleMaximize {
				background: var(--eon-title-bar-mac-os-maximize-bg);

				&:hover {
					background: var(--eon-title-bar-mac-os-maximize-hover-dot-color);
					border: 3.5px solid var(--eon-title-bar-mac-os-maximize-bg);
				}
			}

			&.close {
				background: var(--eon-title-bar-mac-os-close-bg);

				&:hover {
					background: var(--eon-title-bar-mac-os-close-hover-dot-color);
					border: 3.5px solid var(--eon-title-bar-mac-os-close-bg);
				}
			}
		}
	}
}

// @include color-mode(light) {
// 	:host {
// 		.disabled {
// 			color: $gray-600 !important;
// 		}
// 	}
// }

// @include color-mode(dark) {
// 	:host {
// 		.disabled {
// 			color: $gray-700 !important;
// 		}
// 	}
// }
