@import '../../../../assets/scss/mixins';

:host {
	overflow: hidden;

	.main-content {
		color: var(--e-dizzy-body-color);
		background-color: var(--e-dizzy-body-bg);
	}
}

.main-content {
	&::-webkit-scrollbar {
		width: 12px;
	}

	&::-webkit-scrollbar-track {
		margin-top: 6px;
		margin-bottom: 6px;
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 12px;
		border: 4px solid transparent;
		background-clip: content-box;
		background-color: var(--e-dizzy-scroll-bar-bg);
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--e-dizzy-scroll-bar-hover-color);
	}
}

@include platform-mode(darwin) {
	:host {
		.main-content {
			border-radius: 0 0 6px 0;
		}
	}
}
