@import '../../../assets/scss/partials/index';

:host {
	@extend .d-flex;
	@extend .text-body;
	-webkit-app-region: drag;
	background: var(--bs-tertiary-bg);
	border-bottom: 1px solid var(--bs-tertiary-bg-border);
}

@include theme-flatform-mode(win32) {
	:host {
		flex: 0 0 32px;
		box-sizing: border-box;

		.title {
			display: inline-flex;
			align-items: center;

			.icon {
				height: 16px;
				margin-left: ($spacer * 0.5);
			}

			.text {
				text-indent: ($spacer * 0.5);
				font-size: $font-size-sm;
			}
		}

		window-controls.macos {
			display: none !important;
		}
	}
}

@include theme-flatform-mode(darwin) {
	:host {
		flex: 0 0 26px;
		border-radius: 6px 6px 0 0;

		window-controls {
			margin-left: 8px;
		}

		.title {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding-right: 56px;

			.icon {
				height: 16px;
			}

			.text {
				font-size: $font-size-sm * 0.96;
				text-indent: ($spacer * 0.5);
			}
		}

		window-controls.windows {
			display: none !important;
		}
	}
}
