@import '../../../assets/scss/partials/index';

:host {
	@extend .d-flex;
	@extend .flex-column;
	@extend .h-100;
	flex: 0 0 50px;
	background: var(--bs-tertiary-bg);
	border-right: 1px solid var(--bs-tertiary-bg-border);
}

@include theme-flatform-mode(win32) {
	:host {
	}
}

@include theme-flatform-mode(darwin) {
	:host {
		border-radius: 0 0 0 6px;
	}
}
