@import '../../../assets/scss/mixins';

:host {
	flex: 0 0 50px;
	background: var(--eon-sidebar-bar-bg);
	border-right: 1px solid var(--eon-sidebar-bar-border-color);
	color: var(--eon-sidebar-bar-color);
}

@include theme-platform-mode(darwin) {
	:host {
		border-radius: 0 0 0 6px;
	}
}
