@import '../../../../assets/scss/mixins';

:host {
	flex: 0 0 50px;
	background: var(--e-dizzy-sidebar-bar-bg);
	border-right: 1px solid var(--e-dizzy-sidebar-bar-border-color);
	color: var(--e-dizzy-sidebar-bar-color);
}

@include platform-mode(darwin) {
	:host {
		border-radius: 0 0 0 6px;
	}
}
