@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../../../assets/scss/partials/variables';
@import '../../../assets/scss/partials/mixins/index';

:host {
	background: transparent;
	-webkit-app-region: no-drag;

	&:hover {
		background: var(--bs-tertiary-bg-hover);
	}

	&[action='close']:hover {
		background: rgba(var(--bs-danger-rgb), 0.8);
	}
}

@include theme-platform-mode(win32) {
	:host {
		width: 48px;
		height: 100%;
	}
}

@include theme-platform-mode(darwin) {
	:host {
		width: 12px;
		height: 12px;
		border-radius: 50%;
	}
}
