$theme-colors-rgb: $empty-map;
$utilities-colors: $empty-map;
$utilities-text-colors: $empty-map;
$utilities-bg: $empty-map;
$utilities-bg-colors: $empty-map;
$utilities-border-colors: $empty-map;

@import 'bootstrap/scss/maps';
