@import '../../../../assets/scss/mixins';

:host {
	background: transparent;
	-webkit-app-region: no-drag;

	&:hover {
		background: var(--e-dizzy-title-bar-windown-os-window-button-hover-bg);
	}

	&.close:hover {
		background: var(
			--e-dizzy-title-bar-windown-os-close-window-button-hover-bg
		);
	}
}

@include platform-mode(win32) {
	:host {
		width: 48px;
		height: 100%;
	}
}

@include platform-mode(darwin) {
	:host {
		width: 12px;
		height: 12px;
		border-radius: 50%;
	}
}
