@import '../../../assets/scss/partials/index';

.main-content {
	&::-webkit-scrollbar {
		width: 14px;
	}

	&::-webkit-scrollbar-track {
		margin-top: 6px;
		margin-bottom: 6px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 12px;
		border: 4px solid transparent;
		background-clip: content-box;
	}
}

@include theme-flatform-mode(win32) {
	:host {
		.main-content {
		}
	}
}

@include theme-flatform-mode(darwin) {
	:host {
		.main-content {
			border-radius: 0 0 6px 0;
		}
	}
}

:host-context(.theme-light) {
	:host {
		.main-content {
			// background: #ffffff;
			// color: #131313;

			&::-webkit-scrollbar-thumb {
				background-color: #d6dee1;
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: #a8bbbf;
			}
		}
	}
}

:host-context(.theme-dark) {
	:host {
		.main-content {
			// background: #202020;
			// color: #f0f0f0;

			&::-webkit-scrollbar-thumb {
				background-color: #d6dee1;
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: #a8bbbf;
			}
		}
	}
}
