sidebar-item {
	i {
		font-size: 20px;
		width: 100%;
		text-align: center;
		padding: 6px 0;
		border-left: 2px solid transparent;
	}

	&:hover {
		color: var(--primary);
	}

	&.active {
		background: var(--e-dizzy-sidebar-bar-active-bg);

		i {
			border-color: var(--primary);
			color: var(--primary);
		}
	}
}

.sidebar-item-tooltip {
	.mdc-tooltip__surface {
		font-size: var(--font-size-sm);
		background: var(--e-dizzy-sidebar-bar-tooltop-bg);
		color: var(--e-dizzy-sidebar-bar-tooltop-color);
	}
}
